# Ignore virtual environment
venv/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Django migrations
**/migrations/
!*/migrations/__init__.py

# IDE files (optional)
.vscode/
.idea/

# Environment variables
.env

# SQLite database (optional)
db.sqlite3

# Logs
*.log
